<div class="all">
    <h1>About Author of project</h1>
    <div class="up">
        <div class="photo">
            <img src="assets/ks.jpg" alt="">
        </div>
        <div class="motto">
            <span> There are no secrets to success. <br> It is the result of preparation,
                hard work, and learning from failure. <br>
                ~Colin Powell
                </span>
            
        </div>
    </div>
    <div class="me">
        <div class="text">
            <p>  My name is Kacper, I am 24 years old and I come from Poland, <br>
                In 2022, 
                 I graduated from the faculty of computer science. <br>
                  Specialization in software engineering. <br>
                   The topic of my work was the design and implementation of a computer games package. <br>
                    The entire project was made in Unity using C#.</p>
        </div>
        <div class="tech">
            <h2>Coding:</h2>
            <img src="assets/programming/JS.png" alt="JavaScript">
            <img src="assets/programming/Python.png" alt="Python">
            <img src="assets/programming/node.jpg" alt="Node.js">
            <h3>Frameworks: </h3>
            <img src="assets/programming/angular.png" alt="Angular">
            <img src="assets/programming/react.png" alt="React">
        </div>  

        <div class="contact">
            <h2>Contact with me: </h2>
            <a href="https://github.com/TheSKacper"> <img src="assets/programming/git.png" alt="github"> GitHub</a> 
            <a href="https://www.facebook.com/kacper.szweda.1"> <img src="assets/programming/fb.png" alt="facebook"> Facebook</a> 
            <a> <img src="assets/programming/mail.jpg" alt="mail"> kacper.szweda@poczta.onet.eu</a>
        </div>

        
        
    </div>


</div>

