<div class="contact">
    <img src="assets/tło.jpg" alt="">
    <div class="addressAll">
        <div class="address">
            <h3>KS Hotel Szczecin</h3>
            <address>
                <p>ul. Brzozowa 24B, 66-123 Szczecin </p>
            </address>
            <p><strong>Reception</strong></p>
            <p>phone. (+48 43) 756 32 87</p>
            <p>fax. (+48 65) 846 64 73</p>
            <p>email: res@KSHotel.com</p>
            <p>Reception work 24h</p>
        </div>
        <div class="marketing">
            <h3>Marketing</h3>
            <p>phone. (+48 54) 647 34 21, 123 764 876</p>
            <p>fax. (+48 32) 746 43 21</p>
            <p>email: marketing@KSHotel.com</p>
        </div>
    </div>
    <hr>
    <div class="bankAll">
        <div class="bank">
            <h3>Bank zloty</h3>
            <p>mBank Szczecin: 12 3454 3452 5676 1111 0000 3452 1234</p>
            <p>SWIFT: mBankPLPW</p>
            <p>IBAN: PL</p>
        </div>
        <div class="bankEuro">
            <h3>Bank euro</h3>
        <p>mBank Szczecin: 23 4353 2345 6567 5555 2344 1221 3344</p> 
        <p>SWIFT: mBankPLPW 34 3243 1232 6564 4444 5643 9867</p>
        <p>IBAN: PL</p>
        </div>
        <div class="card">
            <h3>You can pay</h3>
            <div class="pay">
                <img src="assets/hotel/pay1.jpg" alt="">    
            </div>
          
        </div>
    </div>
</div>

