<header>
    <div class="container">
        <a class="logo" routerLink="/">KSHotel</a>
        <nav>
            <ul>
                <li><a routerLink="/restaurant">Restaurant</a></li>
                <li><a routerLink="/offers">Offers</a></li>
                <li><a routerLink="/contact">Contact</a></li>
                <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
                <li *ngIf="isAuth" class="menu-container">
                    <a routerLink="/dashboard">{{user.name}}</a>
                    <div class="menu">
                        <a (click)="logout()">Logout</a>
                      </div>
                </li>
                <li><a routerLink="/about">About</a></li>

                <li><a routerLink="/page">Booking <span *ngIf="cartQuantity">{{cartQuantity}}</span></a></li>
            </ul>
        </nav>
    </div>
</header>


