
    <div class="header">
        
        <h1>KSHotel</h1>
        <img src="assets/ks-hotel.jpg" alt="">
    </div>
    <div class="some">
        KS Hotel
    </div>
    
    <div class="container">
        <div class="prudential">
            <h1>Prudential</h1>
            <div class="text">
                <p> One of the most important representatives of Polish interwar architecture.
                    He became an important symbol of the revival of Szczecin after the war. 
                    Towering majestically over the capital, visible from a distance of up to 20 km. 
                    Its modern steel and reinforced concrete structure was a response to the strong 
                    and dynamic urbanization of the Szczecin agglomeration and a proof of the mastery 
                    of pre-war engineering.
                    Today it is one of the most modern hotels in Poland.</p>
            </div>
            <div class="picture">
                <img src="assets/room-hotel.jpg" alt="">
                <hr>
                <img src="assets/swimming-pool.jpg" alt="">
                <hr>
                <img src="assets/hole-hotel.jpg" alt="">
            </div>
        </div>
        <div class="some">
            KS Hotel
        </div>

        <div class="restaurant">
            <h1>Restaurant</h1>
            <div class="rest">
                <img src="assets/restaurant-hotel.jpeg" alt="">
                <p>Located just below the main hall, on levels -1 and -2, it is a comfortable 
                    place to relax or meet friends and clients. A large glass kitchen, as well
                     as an open space limited only by historic foundations are some of the many
                     characteristic features that will make you feel special here.</p>
            </div>
        </div>

        <div class="some">
            KS Hotel
        </div>

        <div class="choose">
            <div class="h">
                <h1>For you</h1>
            </div>
        
            <div class="offers">
                
                <div class="spa">
                    <img src="assets/hotel/spa.PNG" alt="">
                    <h1>Spa</h1>
                    <p>Massages using Ortigia cosmetics can be arranged upon 
                        request and upon prior reservation.</p>

                </div>
                <div class="wellness">
                    <img src="assets/hotel/wellnes.PNG" alt="">
                    <h1>Wellness</h1>
                    <p>There is a unique wellness & spa center on level -1.
                         There are two offices - single and double.</p>
                </div>
                <div class="cardio">
                    <img src="assets/hotel/cardio.PNG" alt="">
                    <h1>Cardio</h1>
                    <p>For those of you who prefer an active lifestyle, we have prepared
                         a special cardio zone with treadmills and stationary bikes.</p>
                </div>
            </div>
        </div>

        <div class="some">
            KS Hotel
        </div>

        <div class="app">
            <div class="text2">
                <h1>DOWNLOAD THE LBOOKING APP</h1>
                <p>The free LBooking application is the best and easiest way <br> to book a room and 
                    an interactive <br> tour of the unique interiors of LHR hotels.</p>
                    <img src="" alt="">
            </div>
            <div class="imgSite">
                <img src="assets/hotel/aplication.png" alt="">
            </div>

        </div>

        <div class="newsletter">

        </div>
    </div>

    <footer>Copy@Rights KSHotel2022</footer>

